{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
    <title>{{ .boardTitle }}</title>
    {{ template "head" . }}
</head>
<body>
    <header>
        <span><a href="/">home</a></span>
        <nav>
            {{ if .logged }}
            {{ if .hasNotifications }}<a href="/notifications" class="notifications">New replies</a> {{ end }} <a href="/account">{{ .logged }}</a> (<a href="/logout">logout</a>)
            {{ else }}
            <a href="/login">login</a> <a href="/register">register</a>
            {{ end }}
        </nav>
    </header>
    {{ template "content" . }}
    <footer><p>Powered by vpub</p></footer>
</body>
</html>
{{ end }}
{{ define "head" }}{{ end }}