{{ define "posts" }}
<!--TOP ONE-->
{{ if . }}
<table class="posts">
    <thead>
        <tr style="text-align: left;">
            <th scope="col" style="width: 100%;">Title</th>
            <th scope="col" style="text-align: center;">Updated</th>
            <th scope="col" style="text-align: center;">Replies</th>
        </tr>
    </thead>
    <tbody>
    {{ range . }}
    <tr>
        <td>
            <h2><a href="/posts/{{ .Id }}">{{ .Title }}</a></h2>
            <div><a href="/~{{ .User }}">{{ .User }}</a>{{ if .Topic }} in <a href="/topics/{{ .Topic }}">{{ .Topic }}</a>{{ end }}</div>
        </td>
        <td style="text-align: center;">{{ timeAgo .UpdatedAt }}</td>
        <td style="text-align: center;">{{ .Replies }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ else }}
<p>No post yet</p>
{{ end }}

<!--CONTENDER-->
<!--{{ if . }}-->
<!--<ol class="posts">-->
<!--    {{ if . }}-->
<!--    {{ range . }}-->
<!--    <li>-->
<!--        <h2><a href="/posts/{{ .Id }}">{{ .Title }}</a></h2>-->
<!--        <div class="test"><a href="/~{{ .User }}">{{ .User }}</a> {{ .Date }} {{ if .Topic }}<a href="/topics/{{ .Topic }}">{{ .Topic }}</a> {{ end }} - {{ if .Replies }}{{ .Replies }} {{ if eq .Replies 1 }}reply{{ else }}replies{{ end }}{{ else }}no reply{{ end }}</div>-->
<!--    </li>-->
<!--    {{ end }}-->
<!--    {{ else }}-->
<!--    <li>No post yet</li>-->
<!--    {{ end }}-->
<!--</ol>-->
<!--{{ end }}-->


<!--{{ if . }}-->
<!--<ol class="posts">-->
<!--    {{ if . }}-->
<!--    {{ range . }}-->
<!--    <li>-->
<!--        <h2><a href="/posts/{{ .Id }}">{{ .Title }}</a></h2>-->
<!--        <div class="test"><a href="/~{{ .User }}">{{ .User }}</a> {{ timeAgo .CreatedAt }} {{ if .Topic }}<a href="/topics/{{ .Topic }}">{{ .Topic }}</a> {{ end }}</div>-->
<!--        <div>{{ if .Replies }}{{ .Replies }} {{ if eq .Replies 1 }}reply{{ else }}replies{{ end }}{{ else }}no reply{{ end }}</div>-->
<!--    </li>-->
<!--    {{ end }}-->
<!--    {{ else }}-->
<!--    <li>No post yet</li>-->
<!--    {{ end }}-->
<!--</ol>-->
<!--{{ end }}-->
<!--{{ if . }}-->
<!--<ol class="posts">-->
<!--    {{ if . }}-->
<!--    {{ range . }}-->
<!--    <li>-->
<!--        <h2><a href="/posts/{{ .Id }}">{{ .Title }}</a></h2>-->
<!--        <ul class="key-value">-->
<!--            <li><span class="key">From: </span><span class="value"><a href="/~{{ .User }}">{{ .User }}</a></span></li>-->
<!--            <li><span class="key">On: </span><span class="value">{{ .Date }}</span></li>-->
<!--            {{ if .Topic }}<li><span class="key">Topic: </span><span class="value"><a href="/topics/{{ .Topic }}">{{ .Topic }}</a></span></li>{{ end }}-->
<!--            <li><span class="key">Replies: </span><span class="value">{{ .Replies }}</span></li>-->
<!--        </ul>-->
<!--    </li>-->
<!--    {{ end }}-->
<!--    {{ else }}-->
<!--    <li>No post yet</li>-->
<!--    {{ end }}-->
<!--</ol>-->
<!--{{ end }}-->

<!--{{ if . }}-->
<!--<ol class="posts">-->
<!--    {{ if . }}-->
<!--    {{ range . }}-->
<!--    <li>-->
<!--        <h2><a href="/posts/{{ .Id }}">{{ .Title }}</a></h2>-->
<!--        <div class="test"><a href="/~{{ .User }}">{{ .User }}</a> {{ timeAgo .CreatedAt }} {{ if .Topic }}| <a href="/topics/{{ .Topic }}">{{ .Topic }}</a> {{ end }}| {{ if .Replies }}{{ .Replies }} {{ if eq .Replies 1 }}reply{{ else }}replies{{ end }}{{ else }}no reply{{ end }}</div>-->
<!--    </li>-->
<!--    {{ end }}-->
<!--    {{ else }}-->
<!--    <li>No post yet</li>-->
<!--    {{ end }}-->
<!--</ol>-->
<!--{{ end }}-->
<!--{{ if . }}-->
<!--<ol class="posts">-->
<!--    {{ if . }}-->
<!--    {{ range . }}-->
<!--    <li>-->
<!--        <h2><a href="/posts/{{ .Id }}">{{ .Title }}</a></h2>-->
<!--        <ul class="key-value">-->
<!--            <li><span class="key">From: </span><span class="value"><a href="/~{{ .User }}">{{ .User }}</a></span></li>-->
<!--            <li><span class="key">On: </span><span class="value">{{ .Date }}</span></li>-->
<!--            {{ if .Topic }}<li><span class="key">Topic: </span><span class="value"><a href="/topics/{{ .Topic }}">{{ .Topic }}</a></span></li>{{ end }}-->
<!--            <li><span class="key">Replies: </span><span class="value">{{ .Replies }}</span></li>-->
<!--        </ul>-->
<!--    </li>-->
<!--    {{ end }}-->
<!--    {{ else }}-->
<!--    <li>No post yet</li>-->
<!--    {{ end }}-->
<!--</ol>-->
<!--{{ end }}-->
<!--{{ if . }}-->
<!--<table class="posts">-->
<!--    <colgroup>-->
<!--        <col span="1" style="width: 60%;">-->
<!--        <col span="1" style="width: 25%;">-->
<!--        <col span="1" style="width: 15%;">-->
<!--    </colgroup>-->

<!--    <thead>-->
<!--        <tr style="text-align: left;">-->
<!--            <th scope="col">Title</th>-->
<!--            <th scope="col">Author</th>-->
<!--            <th scope="col" style="text-align: center;">Replies</th>-->
<!--        </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    {{ range . }}-->
<!--    <tr>-->
<!--        <td>-->
<!--            <a href="/posts/{{ .Id }}">{{ .Title }}</a>-->
<!--            {{ if .Topic }}<ul class="key-value"><li><span class="key">Topic: </span><span class="value"><a href="/topics/{{ .Topic }}">{{ .Topic }}</a></span></li></ul>{{ end }}-->
<!--        </td>-->
<!--        <td>-->
<!--            <ul class="key-value">-->
<!--                <li><span class="key">From: </span><span class="value"><a href="/~{{ .User }}">{{ .User }}</a></span></li>-->
<!--                <li><span class="key">On: </span><span class="value">{{ .Date }}</span></li>-->
<!--            </ul>-->
<!--        </td>-->
<!--        <td style="width: 20%; text-align: center;">{{ .Replies }}</td>-->
<!--    </tr>-->
<!--    {{ end }}-->
<!--    </tbody>-->
<!--</table>-->
<!--{{ else }}-->
<!--<p>No post yet</p>-->
<!--{{ end }}-->
{{ end }}