{{ define "post_form" }}
<input type="hidden" name="boardId" value="{{ .BoardId }}">
<input type="hidden" name="topicId" value="{{ .TopicId }}">
<div class="field">
    <label for="subject">Subject</label>
    <input type="text" name="subject" id="subject" value="{{ .Subject }}" autocomplete="off" maxlength="115" required autofocus/>
</div>
<div class="field">
    <label for="content">Content</label>
    <textarea class="editor" name="content" id="content" required>{{ .Content }}</textarea>
</div>
{{ if .IsAdmin }}
<details>
    <summary>Admin options</summary>
    <div class="field">
        <label for="newBoardId">Board</label>
        <select name="newBoardId" id="newBoardId">
            {{ range .Boards }}
            <option value="{{ .Id }}" {{ if eq .Id $.BoardId }}selected{{ end }}>{{ .Name }}</option>
            {{ end }}
        </select>
    </div>
    <div class="field">
        <label for="sticky">Sticky</label>
        <select name="sticky" id="sticky">
            <option value="false">false</option>
            <option value="true" {{ if .IsSticky }}selected{{ end }}>true</option>
        </select>
    </div>
    <div class="field">
        <label for="locked">Locked</label>
        <select name="locked" id="locked">
            <option value="false">false</option>
            <option value="true" {{ if .IsLocked }}selected{{ end }}>true</option>
        </select>
    </div>
</details>
{{ end }}
{{ end }}