{{ define "post_form" }}
{{ if .Topics }}
<div class="field">
    <label for="topic">Topic</label>
    <select name="topic" id="topic">
        {{ range .Topics }}
        <option value="{{ . }}" {{ if eq . $.Topic }}selected{{ end }}>{{ . }}</option>
        {{ end }}
    </select>
</div>
{{ end }}

<div class="field">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{ .Title }}" autocomplete="off" required autofocus/>
</div>
<div class="field">
    <label for="content">Content</label>
    <textarea class="editor" name="content" id="content" required>{{ .Content }}</textarea>
</div>
{{ end }}