{{ define "posts" }}
<ol class="posts">
    {{ if . }}
    {{ range . }}
    <li>
        <h2><a href="/posts/{{ .Id }}">{{ .Title }}</a></h2>
        <ul class="key-value">
            <li><span class="key">From: </span><span class="value"><a href="/~{{ .User }}">{{ .User }}</a></span></li>
            <li><span class="key">On: </span><span class="value">{{ .Date }}</span></li>
            {{ if .Topic }}<li><span class="key">Topic: </span><span class="value"><a href="/topics/{{ .Topic }}">{{ .Topic }}</a></span></li>{{ end }}
            <li><span class="key">Replies: </span><span class="value">{{ .Replies }}</span></li>
        </ul>
    </li>
    {{ end }}
    {{ else }}
    <li>No post yet</li>
    {{ end }}
</ol>
{{ end }}