{{ define "reply" }}
    {{ if . }}
    <ol class="replies">
    {{ range . }}
        <li>
            <details class="reply" open>
                <summary><a href="/~{{ .User }}">{{ .User }}</a> on {{ .Date }}</summary>
                <div class="reply-content">{{ gmi2html .Content }}</div>
                {{ if logged }}
                <footer>
                    <a href="/replies/{{ .Id }}">reply</a>
                    {{ if hasPermission .User }}
                    <a href="/replies/{{ .Id }}/edit">edit</a>
                    <a href="/replies/{{ .Id }}/remove">Remove</a>
                    {{ end }}
                </footer>
                {{ end }}
                {{ if .Thread }}
                <div class="thread">
                    {{ template "reply" .Thread }}
                </div>
                {{ end }}
            </details>
        </li>
    {{ end }}
    </ol>
    {{ end }}
{{ end }}