{{ define "content"}}
<nav class="breadcrumb">
    <ul>
        <li>
            <a href="{{ root }}/admin">Admin</a>
            <ul>
                <li>Users</li>
            </ul>
        </li>
    </ul>
</nav>
<h1>Users</h1>
<table>
    <thead>
    <tr>
        <th class="grow">User</th>
        <th>Edit</th>
        <th>Password</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {{ range .users }}
    <tr>
        <td colspan="grow">{{ .Name }}</td>
        <td class="center"><a href="{{ root }}/admin/users/{{ .Id }}/edit">Edit</a></td>
        <td class="center"><a href="{{ root }}/reset-password?hash={{ .Hash }}">Reset</a></td>
        <td class="center"><a href="{{ root }}/admin/users/{{ .Id }}/remove">Delete</a></td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}