{{ define "content"}}
<nav class="breadcrumb">
    <ul>
        <li>
            <a href="/admin">Admin</a>
            <ul>
                <li>Users</li>
            </ul>
        </li>
    </ul>
</nav>
<h1>Users</h1>
<table>
    <thead>
    <tr>
        <th class="grow">User</th>
        <th>Edit</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    {{ range .users }}
    <tr>
        <td colspan="grow">
            <a href="/~{{ .Name }}">{{ .Name }}</a>
        </td>
        <td class="center"><a href="/admin/users/{{ .Name }}/edit">Edit</a></td>
        <td class="center"><a href="/reset-password?hash={{ .Hash }}">Reset</a></td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}