{{ define "content"}}
<nav class="breadcrumb">
    <ul>
        <li>
            <a href="{{ root }}/admin">Admin</a>
            <ul>
                <li>
                    Forums
                </li>
            </ul>
        </li>
    </ul>
</nav>
<h1>Forums</h1>
<p><a href="{{ root }}/admin/forums/new">New forum</a></p>
<table>
    <thead>
    <tr>
        <th class="grow">Forum</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {{ if .forums }}
    {{ range .forums }}
    <tr>
        <td colspan="grow">
            {{ .Name }}
        </td>
        <td class="center"><a href="{{ root }}/admin/forums/{{ .Id }}/edit">Edit</a></td>
    </tr>
    {{ end }}
    {{ else }}
    <tr>
        <td colspan="2">No boards yet.</td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}