{{ define "content" }}

    {{ if .errorMessage }}
        <p class="errors">{{ .errorMessage }}</p>
    {{ end }}

    Are you sure you want to delete the following user?
    <p>{{ .user.Name }}</p>
    <form action="/admin/users/{{ .user.ID }}/remove" method="post">
        {{ .csrfField }}
        <input type="submit" value="Submit">
    </form>
{{ end }}