{{ define "breadcrumb" }} > <a href="/admin">Admin</a> > Settings{{ end }}
{{ define "content"}}
<h1><a href="/admin">Admin</a> > Edit Settings</h1>
<form action="/admin/settings/update" method="post">
    {{ .csrfField }}
    <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{ .form.Name }}" autocomplete="off" maxlength="120" autofocus/>
    </div>
    <div class="field">
        <label for="intro">Intro</label>
        <textarea class="editor" name="intro" id="intro">{{ .form.Intro }}</textarea>
    </div>
    <div class="field">
        <label for="css">Footer</label>
        <textarea class="editor" name="footer" id="footer">{{ .form.Footer }}</textarea>
    </div>
    <div class="field">
        <label for="css">CSS</label>
        <textarea class="editor" name="css" id="css">{{ .form.Css }}</textarea>
    </div>
    <input type="submit" value="Submit">
</form>
</table>
{{ end }}