{{ define "content" }}

{{ if .errorMessage }}
<p class="errors">{{ .errorMessage }}</p>
{{ end }}

Are you sure you want to delete the following forum?
<p>{{ .forum.Name }}</p>
<form action="/admin/forums/{{ .forum.Id }}/remove" method="post">
    {{ .csrfField }}
    <input type="submit" value="Submit">
</form>
{{ end }}