{{ define "breadcrumb" }}<a href="/">boards</a> > {{ .board.Name }}{{ end }}
{{ define "content" }}
<nav class="breadcrumb">
    <ul>
        <li>
            <a href="/">All forums</a>
            <ul>
                <li>
                    <a href="/forums/{{ .board.Forum.Id }}">{{ .board.Forum.Name }}</a>
                    <ul>
                        <li>{{ .board.Name }}</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<h1>{{ .board.Name }}</h1>

{{ if logged }}
{{ if .board.Forum.IsLocked }}
<p>This forum is locked.</p>
{{ end }}
{{ if .board.IsLocked }}
<p>This board is locked.</p>
{{ end }}
{{ if or (and (not .board.IsLocked) (not .board.Forum.IsLocked)) .logged.IsAdmin }}
<form action="/boards/{{ .board.Id }}/new-topic" method="get" class="action">
    <input type="submit" value="New topic">
</form>
{{ end }}
{{ end }}

<section>
    <table>
        <thead>
        <tr>
            <th class="grow">Subject</th>
            <th>Replies</th>
        </tr>
        </thead>
        <tbody>
        {{ if .topics }}
        {{ range .topics }}
        <tr{{ if .IsSticky }} class="sticky"{{ end }}>
            <td colspan="grow"><a href="/topics/{{ .Id }}">{{ .Post.Subject }}</a><br>{{ .Post.User.Name }} on {{ iso8601 .UpdatedAt }}</td>
            <td class="center">{{ .Replies }}</td>
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="4">No topics yet.</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</section>
{{ end }}