{{ define "breadcrumb" }}<a href="/">boards</a> > {{ .board.Name }}{{ end }}
{{ define "content" }}
<h1><a href="/">boards</a> > {{ .board.Name }}</h1>

<!--<p>{{ .board.Description }}</p>-->

<nav class="actions">
    <p>
        {{ if .logged }}
        <a href="/boards/{{ .board.Id }}/new-topic">new topic</a>
        {{ end }}
<!--        <a href="TODO">follow</a>-->
    </p>
</nav>

<section>
    <table>
        <thead>
        <tr>
            <th class="grow">Subject</th>
            <th>Author</th>
            <th>Replies</th>
            <th>Updated</th>
        </tr>
        </thead>
        <tbody>
        {{ range .topics }}
        <tr>
            <td colspan="grow"><a href="/topics/{{ .Id }}">{{ .Subject }}</a></td>
            <td class="center"><a href="/~{{ .User.Id }}">{{ .User.Name }}</a></td>
            <td class="center">{{ .Replies }}</td>
            <td class="center">{{ iso8601 .UpdatedAt }}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</section>
{{ end }}