{{ define "content" }}
    {{ if .errorMessage }}
        <p class="errors">{{ .errorMessage }}</p>
    {{ end }}

    Are you sure you want to delete the following post?
    <p>{{ syntax .post.Content }}</p>
    <form action="/posts/{{ .post.ID }}/remove" method="post">
        {{ .csrfField }}
        <input type="submit" value="Submit">
    </form>
{{ end }}