{{ define "title" }}Register{{ end }}

{{ define "content" }}
    <h2>Register</h2>
    <form action="/register" method="post" class="auth-form">
        {{ .csrf }}
        <div class="field">
            <label for="name">Username</label>
            <input type="text" id="name" name="name" autocomplete="off"/>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
        </div>
        <div class="field">
            <label for="key">Key</label>
            <input type="text" id="key" name="key"/>
        </div>
        <input type="submit" value="Submit">
    </form>
{{ end }}
