{{ define "title" }}Create Post{{ end }}
{{ define "content" }}
<nav class="breadcrumb">
  <ul>
    <li>
      <a href="{{ root }}/">All forums</a>
      <ul>
        <li>
          <a href="{{ root }}/forums/{{ .board.Forum.Id }}">{{ .board.Forum.Name }}</a>
          <ul>
            <li>
              <a href="{{ root }}/boards/{{ .board.Id }}">{{ .board.Name }}</a>
              <ul>
                <li>{{ .topic.Post.Subject }}</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<h1>Create Post</h1>

{{ if .errorMessage }}
    <p class="errors">{{ .errorMessage }}</p>
{{ end }}

<form action="{{ root }}/posts/save" method="post">
  {{ .csrfField }}
  {{ template "post_form" .form }}
  <input type="submit" value="Reply">
</form>
{{ end }}
