{{ define "title" }}New topic{{ end }}
{{ define "breadcrumb" }} > <a href="/boards/{{ .board.Id }}">{{ .board.Name }}</a>{{ end }}
{{ define "content" }}
<nav class="breadcrumb">
    <ul>
        <li>
            <a href="/">All forums</a>
            <ul>
                <li>
                    <a href="/forums/{{ .board.Forum.Id }}">{{ .board.Forum.Name }}</a>
                    <ul>
                        <li>
                            <a href="/boards/{{ .board.Id }}">{{ .board.Name }}</a>
                            <ul>
                                <li>New topic</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<h1>New topic</h1>
{{ if .errorMessage }}
    <p class="errors">{{ .errorMessage }}</p>
{{ end }}
<form action="/boards/{{ .board.Id }}/save-topic" method="post">
    {{ .csrfField }}
    <input type="hidden" name="boardId" value="{{ .form.BoardId }}">
    {{ template "post_form" .form.PostForm }}
    {{ if .logged.IsAdmin }}
    {{ template "topic_form" .form }}
    {{ end }}
    <input type="submit" value="Submit">
</form>
{{ end }}
