{{ define "title" }}Edit Post{{ end }}
{{ define "content" }}
    {{ template "forum_nav" .navigation }}

    <h1>Edit Post</h1>

    {{ if .errorMessage }}
        <p class="errors">{{ .errorMessage }}</p>
    {{ end }}

    <form action="/posts/{{ .post.ID }}/update" method="post">
        {{ .csrfField }}
        {{ template "post_form" .form }}
        <input type="submit" value="Submit">
    </form>
{{ end }}
