{{ define "title" }}Edit topic{{ end }}
{{ define "content" }}
<h1>Edit topic</h1>
{{ if .errorMessage }}
    <p class="errors">{{ .errorMessage }}</p>
{{ end }}
<form action="{{ root }}/topics/{{ .form.Id }}/update" method="post">
    {{ .csrfField }}
    <input type="hidden" name="boardId" value="{{ .form.BoardId }}">
    {{ template "post_form" .form.PostForm }}
    {{ if .logged.IsAdmin }}
    {{ template "topic_form" .form }}
    {{ end }}
    <input type="submit" value="Submit">
</form>
{{ end }}
