<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
    <title>{{ .boardTitle }}</title>
    {{ template "head" . }}
</head>
<body>
<h1>{{ .boardTitle }}</h1>
<div class="auth">
{{ if .logged }}
<p>{{ .logged }} (<a href="/logout">Logout</a>)</p>
{{ else }}
<p><a href="/login">Login</a> <a href="/register">Register</a></p>
{{ end }}
</div>
{{ .motd }}
<p><a href="/posts/new">write</a> <a href="">follow</a></p>

{{ if .topics }}
{{ range .topics }}<a href="/topics/{{ . }}">{{ . }}</a> {{ end }}
{{ end }}
<section class="posts">
{{ template "posts" .posts }}
{{ if .hasMore }}
<a href="/page/2">More</a>
{{ end }}
</section>

<section>
{{ range .users }}<a href="/~{{ . }}">{{ . }}</a> {{ end }}
</section>
</body>
</html>