{{ define "content"}}
{{ if .settings.Name }}
<h1>{{ .settings.Name }}</h1>
{{ else }}
<h1>Forums</h1>
{{ end }}
<table>
    <thead>
        <tr>
            <th class="grow">Forum</th>
            <th>Topics</th>
            <th>Posts</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        {{ if .forums }}
        {{ range .forums }}
        <tr class="forum">
            <td colspan="4"><a href="/forums/{{ .Id }}">{{ .Name }}</a></td>
        </tr>
        {{ range .Boards }}
        <tr>
            <td colspan="grow">
                <a href="/boards/{{ .Id }}">{{ .Name }}</a><br>{{ .Description }}
            </td>
            <td class="center">{{ .Topics }}</td>
            <td class="center">{{ .Posts }}</td>
            <td class="center">{{ iso8601 .UpdatedAt }}</td>
        </tr>
        {{ end }}
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="4">No forums yet.</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}