{{ define "content" }}
<h1>Posts</h1>


<section>
    <table>
        <thead>
        <tr>
            <th class="grow">Subject</th>
            <th>Author</th>
            <th>Posted</th>
        </tr>
        </thead>
        <tbody>
        {{ if .posts }}
        {{ range .posts }}
        <tr>
        <td colspan="grow"><a href="/topics/{{ .TopicId }}#{{ .Id }}">{{ .Subject }}</a></td>
        <td class="center"><a href="/~{{ .User.Id }}">{{ .User.Name }}</a></td>
        <td class="center">{{ iso8601 .CreatedAt }}</td>
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="4">No posts yet.</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
    {{ if or (ne 1 .page) .hasMore }}
    <p>
    {{ if ne 1 .page }}
    <a href="/posts?page={{ dec .page }}">Previous page</a>
    {{ end }}
    {{ if .hasMore }}
    <a href="/posts?page={{ inc .page }}">Next page</a>
    {{ end }}
    </p>
    {{ end }}
</section>
{{ end }}