{{ define "content"}}
<h1>{{ .post.Title }}</h1>
<div class="meta">
    {{ with .post }}
    <ul class="key-value">
        <li><span class="key">From: </span><span class="value"><a href="/~{{ .User }}">{{ .User }}</a></span></li>
        <li><span class="key">On: </span><span class="value">{{ .Date }}</span></li>
        {{ if .Topic }}<li><span class="key">Topic: </span><span class="value"><a href="/topics/{{ .Topic }}">{{ .Topic }}</a></span></li>{{ end }}
    </ul>
    {{ end }}
</div>
<div class="content">{{ gmi2html .content }}</div>
{{- if eq .logged .post.User }}
<p>
    <a href="/posts/{{ .post.Id }}/edit">Edit</a>
    <a href="/posts/{{ .post.Id }}/remove">Remove</a>
</p>
{{- end }}
{{ if .logged }}
<form action="/posts/{{ .post.Id }}/reply" method="post">
    {{ .csrfField }}
    <textarea name="reply"></textarea>
    <input type="submit" value="Reply">
</form>
{{ end }}
{{ template "reply" .replies }}
{{ end }}