{{ define "content" }}
    <h1>Reply</h1>
    <article>
        <div class="post-data">
            <div>From: <a href="/~{{ .reply.Author }}">{{ .reply.Author }}</a></div>
            <div>Post: <a href="/posts/{{ .post.Id }}">{{ .post.Title }}</a></div>
            {{ if .reply.ParentId }}
            <div><a href="/replies/{{ .reply.ParentId }}">Parent</a></div>
            {{ end }}
        </div>
        {{ gmi2html .reply.Content }}
    </article>
    <section>
        <form action="/replies/{{ .reply.Id }}/save" method="post">
            {{ .csrfField }}
            <textarea name="reply" autofocus></textarea>
            <input type="submit" value="Submit">
        </form>
        {{ template "reply" .reply.Thread }}
    </section>
{{ end }}
