{{ define "content" }}
    <h1>Reply</h1>
    <article>
        <div class="meta">
            <ul class="key-value">
                <li><span class="key">From: </span><span class="value"><a href="/~{{ .post.User }}">{{ .post.User }}</a></span></li>
                <li><span class="key">On: </span><span class="value">{{ .post.Date }}</span></li>
                <li><span class="key">Post: </span><span class="value"><a href="/posts/{{ .post.Id }}">{{ .post.Title }}</a></span></li>
                <li><span class="key">Parent: </span><span class="value">
                    {{ if .reply.ParentId }}<a href="/replies/{{ .reply.ParentId }}">view</a>{{ else }}view{{end}}
                </span></li>
            </ul>
        </div>
        <div class="content">{{ gmi2html .reply.Content }}</div>
    </article>
    <section>
        <form action="/replies/{{ .reply.Id }}/save" method="post">
            {{ .csrfField }}
            <div class="field">
                <textarea name="reply" autofocus></textarea>
            </div>
            <input type="submit" value="Submit">
        </form>
        {{ template "reply" .reply.Thread }}
    </section>
{{ end }}
