{{ define "content" }}
<h1>{{ .topic.Name }}</h1>

<p>{{ .topic.Description }}</p>

<nav class="actions">
    <p>
        {{ if .logged }}
        <a href="/posts/new?topicId={{ .topic.Id }}">write</a>
        {{ end }}
        <a href="/topics/{{ .topic }}/feed.atom">follow</a>
    </p>
</nav>

<section>
    <p>Posts will go there</p>
<!--    {{ template "posts" .posts }}-->
<!--    {{ if .hasMore }}-->
<!--    <a href="/page/2?topic={{ .topic }}">More</a>-->
<!--    {{ end }}-->
</section>
{{ end }}