body {
	max-width: 750px;
	margin: auto;
}

/* Lists ************************************************************/

ol.posts, ol.replies {
	padding: 0;
	list-style: none;
}

ol.posts > li:not(:last-child),
ol.replies > li:not(:last-child) {
	margin-bottom: 1em;
}

/* Posts ************************************************************/

.posts h2 {
	margin: 0;
	font-size: 1em;
}

/* Replies **********************************************************/

.reply {
	border-left: 1px solid lightgrey;
	display: block;
}

.reply summary {
	background-color: lightgrey;
	display: list-item;
	padding: .2em;
}

.reply-content, .reply footer {
	padding: 0 1em;
}

.thread {
	padding: 1em 0 1em 1em;
}

.meta {
	background-color: lightgrey;
	padding: .2em;
}

/* Topics ***********************************************************/

.topics {
	background-color: lightgrey;
	padding: .2em;
}

.topics .selected {
	font-weight: bold;
}

/* Navigation *******************************************************/

header > nav {
	float: right;
}

body > footer {
	margin-top: 1em;
	border-top: 1px solid lightgrey;
	color: grey;
	text-align: center;
}

/* Forms ************************************************************/

.auth-form {
	max-width: 200px;
}

.field {
	margin-bottom: 1em;
}

.field label {
	display: block;
}

input[type=text] {
	width: 100%;
	box-sizing: border-box;
}

textarea {
	width: 100%;
	height: 250px;
	display: block;
	box-sizing: border-box;
}

/* Misc *************************************************************/

.key-value {
	padding: 0;
	margin: 0;
	list-style: none;
}

blockquote {
	margin: 0;
	color: green;
	font-style: italic;
}